    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post_title %></h1>
                        <span class="meta">Posted by <a href="#">Ime Isa</a> on <%= @post_created_at %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div>
                        <div class="cat-cat">
                            <% @post_categories.each do |cat|%>
                                <span class="col1"><%= cat.name.upcase %></span> |
                            <%end%>
                        </div>
                    </div>
                    <div><%= raw @post_body %></div>
                    <p class="subheading">
                        <div class="in">
                            <a href="#">"PourMoi" by Ime Isa</a> 
                        </div>                        
                    </p>
                </div>
            </div>
        </div>
    </article>