<div class="row">
		<div class="col-xs-3">
			<a href="#" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                </span>
            </a>
		</div>
		<div class="col-xs-3">
			<a href="#" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                </span>
            </a>
		</div>
		<div class="col-xs-3">
			<a class="click" data-toggle="modal" data-target="#myModal">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
		</div>
		<div class="col-xs-3">
        <%= link_to destroy_admin_session_path, :method => :delete do%>
        <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
                </span>
        <%end%>
		</div>
	</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Images URL</h4>
          </div>
          <div class="modal-body">
            <%@images_url.each do |img|%>
                <%#= %>
                <a href="<%=img['url']%>" target="_blank">
                    <%=cl_image_tag("#{img['url']}", :width => 100, :height => 150, :crop => :fill)%>
                </a>
                <%= link_to "delete", delete_image_path("#{img['public_id']}"), method: :delete%>
            <%end%>
          </div>
        </div>
      </div>
    </div>