    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ime Isa</h1>
                        <hr class="small">
                        <span class="subheading"><%= @post_profile.title %><%= social_share_button_tag("test") %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% if admin_signed_in? %>
                    <%= link_to 'Editar mi descripcion', edit_post_path(@post_profile), class: "text-danger" %>
                <% end %>
                <div><%= raw @post_profile.body %></div>
            </div>
        </div>
    </div>