    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-cat">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Articulos</h1>
                        <hr class="small">
                        <div class="row">
                          <div class="col-xs-6 col-xs-offset-3">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search for...">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                              </span>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @posts.each do |post| %>
                    <div class="post-preview">
                        
<!--                         <a href="post.html"> -->
                            <h2 class="post-title">
                                <%= link_to post.title, post%>
                            </h2>
                        <%#end%>
                            <p class="post-subtitle">
                                <div class="in">
                                    Compártelo: <%= social_share_button_tag("test") %>
                                </div>
                            </p>
<!--                         </a> -->
                        <p class="post-meta">Posted by <%= link_to "Ime Isa", flaka_path %> on <%= post.created_at.strftime('%b %d, %Y') %></p>
                    </div>
                    <hr>
                <% end %>
                
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>