<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" id="img-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="text-primary">Admin</h1>
                    <hr class="small">
                    <span class="subheading notice"></span>
                    <span class="subheading alert"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<%= render "posts/admin"%>
	<div class="row">
        <div class="row">
           <h2 class="text-center text-success">Edit Post</h2> 
        </div>
        <div class="row">
            <div class="col-xs-12">
		      <%= render "posts/form" %>
            </div>
        </div>
	</div>    
</div>
