    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>PourMoi</h1>
                        <%= social_share_button_tag("test") %>
                        <hr class="small">
                        <span class="subheading" id="click" data-toggle="modal" data-target="#myModal">Por qué estás aquí?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%# @posts.each do |post| %>
                <%# end %>

                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Por qué estás aquí?</h4>
          </div>
          <div class="modal-body">
¿No te ha pasado infinidad de  veces que admiras a alguien por lo que hace, y te decís a  vos misma/o:

“¡que bueno lo que  hace! Quisiera poder hacerlo yo también…”

“Que lindo, ¿cómo hace?”

Y que en medio de  tu  deseo de ser eso que QUERÉS SER, viene  automáticamente a tu cerebro un pensamiento negativo que  boicotea hasta tu sueño?

No te parece INJUSTO que tu mente  limite HASTA tu propia imaginación?

No te pasa que no haces  un montón de  cambios en tu vida por miedo a todo?

No te pasa que no te animas a hacer ESO que admiras de los demás porque  pensás que  vos no podes ?

A mi me pasó y ME  SIGUE PASANDO, pero un día me dije BASTA!! Basta de no hacer lo que quiero hacer!
Y entendí que la mejor manera  de  vencer esos miedos, era enfrentándolos.

¿Total?¿ que es lo peor que puede  pasar?
Hoy estás, mañana quien sabe…

Si tenes  ganas de sentirte  vivo/a , estás en el lugar correcto, porque no voy a dejar que  ni vos ni yo nos rindamos.

NO VOY A  PARAR HASTA QUE TUS DESEOS SE ASUMAN, SE PONGAN EN PALABRAS Y SE HAGAN REALIDAD!!!
          </div>
          <div class="modal-footer">
            <%= social_share_button_tag("test") %>
          </div>
        </div>
      </div>
    </div>