    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-insta">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Instagram channel</h1>
                        <hr class="small">
                        <a href="https://www.instagram.com/ime_isa/?hl=es" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        <span class="subheading">Fotos Photos Pictures...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            <% @our_data.each do |data| %>
                <div class="col-xs-6 col-md-3">
                    <a href="<%= data.link%>" class="thumbnail" target="_blank">
                        <%=cl_image_tag("#{data.images.thumbnail.url}", :width => 100, :height => 150, :crop => :fill)%>
<!--                         <img src="<%#= data.images.thumbnail.url%>" alt="<%#= data.tags%>"> -->
                    </a>
                </div>
            <%end%>
        </div> 
    </div>