    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="img-video">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My YouTube channel</h1>
                        <hr class="small">
                        <a href="#" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        <span class="subheading">Watch my videos.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
       
          <h2>16:9 Responsive Aspect Ratio</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
    </div>
        </div>
        <div class="col-sm-6">
     

          <h2>4:3 Responsive Aspect Ratio</h2>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
    </div>
        </div>
      </div>
    </div>